doctype html
html
  head
    title=title
    link#google-fonts(rel='stylesheet', href=googleFontsURL)
    link#secret-hitler-css(rel='stylesheet', href='/css/style.css')
    script#vue(src=vueURL)
    script#axios(src=axiosURL)
    script#socket-io(src=socketURL)
    script#font-awesome-5(src=fontAwesomeURL)
  body
    article#secret-hitler
    //- script.
      var secretHitlerData = !{JSON.stringify(vueData)}
    script#secret-hitler-js(src='/js/scripts.js')
